<!--<section class="py-5 bg-light">
  <div class="container py-5">
    <header class="text-center mb-5">
      <div class="row">
        <div class="col-lg-7 mx-auto">
          Your content here
        </div>
      </div>
    </header>
  </div>
</section>-->

<app-explorer-form [form]="{
    service: '/rest-service/{world}',
    method: 'REST',
    form_title: 'REST service page works!',
    service_description: 'Please, fill in the form to the right:',
    fields: [
      [{
        label: 'World',
        name: 'world',
        dataType: 'Text',
        presentationType: 'ComboBox',
        required: true,
        helperText: 'Greetings from where?',
        possibleValues: [
          {text:'Earth', value: 'Earth'},
          {text:'Mars', value: 'Mars'},
          {text:'Moon', value: 'Moon'},
        ]
      }]
    ]
}"></app-explorer-form>
