<!--<section class="py-5 bg-light">
  <div class="container py-5">
    <header class="text-center mb-5">
      <div class="row">
        <div class="col-lg-7 mx-auto">
          Your content here
        </div>
      </div>
    </header>
  </div>
</section>-->
<app-explorer-form [form]="{
  service: '/get-service-explorer',
  method: 'GET',
  form_title: 'GET service page works!',
  service_description: 'Please, fill in the form to the right:',
  fields: [
    [{
      label: 'Your Field',
      name: 'my_field',
      dataType: 'Text',
      presentationType: 'Input',
      helperText: 'Just type in whatever you want'
    }]
  ]
}"></app-explorer-form>
