<app-navbar></app-navbar>
<router-outlet></router-outlet>
<footer class="text-white bg-cover bg-center" style="background: url(assets/img/banner.jpg)">
  <div class="dark-overlay">
    <div class="overlay-content">
      <div class="container text-center">
        <div class="border-top py-4">
          <p class="mb-0 text-white text-small">&copy; Powered by <a href="https://angular.io">Angular</a> & <a href="https://rust-lang.org">Rust</a> </p>
        </div>
      </div>
    </div>
  </div>
</footer>
